.DS_Store
.venv
/Exercise1-API/book-store/venv/
/Exercise1-API/.idea/
/Resolution/node_modules/
/.idea/*
/Resolution/allure-report/
/Resolution/allure-results/
/Resolution/playwright-report/
/Resolution/test-results/
